instr.md

# data
data/maps/

# installation
build/
dist/
*.egg-info/
.bashrc
__pycache__/

# results
out/
cobaya-run.sh
cobaya-run-*.out
triangles/*
figs/
glamdring_out/

# old chains
chains/chains_bak/
