instr.md

# installation
build/
dist/
*.egg-info/
.bashrc

# cache dirs
__pycache__/

# results
triangles/*
figs/
glamdring_out/

# chains
*.covmat
*.1.txt
*.progress
*.checkpoint
*.updated.yaml
*.input.yaml
